.page-item.active .page-link {
    background-color: lightgray; /* Измените цвет фона на светло-серый */
    border-color: gray; /* Измените цвет границы на серый */
    color: rgb(13, 110, 253); /* Измените цвет текста на черный */
}
.invisible-link {
    text-decoration: none;
    color: inherit; /* Сохраняем цвет текста по умолчанию */
}

.question-avatar {
    height: 80px;
    width: 80px;
}

.profile-avatar {
    height: 50px;
    width: 50px;
    
}
.profile-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 45px;
}

.question-avatar > img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 45px;
}