.page-item.active .page-link {
    background-color: lightgray; /* Измените цвет фона на светло-серый */
    border-color: gray; /* Измените цвет границы на серый */
    color: rgb(13, 110, 253); /* Измените цвет текста на черный */
}
