{% extends "layouts/base.html" %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
<main class="container-sm-fluid container-lg mt-4">
    <div class="d-flex gap-3 align-items-center">
        <h1>Register</h1>
    </div>
</main>
<div class="col-8 flex-column flex-column min-vh-100">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% bootstrap_form form %}
        <button type="submit" class="btn btn-outline-dark me-2">Register</button>
    </form>
    <a href="{% url 'login' %}">Already have an account?</a>
</div>
{% endblock %}
